.arredonda{
    border-radius: 35px;
    box-shadow: 1px 1px 3px black;
}
ul{
    list-style-type: none;
}
.alerta{
    font-size: 18px;
    font-weight: bolder; 
}
h1{
    text-transform: uppercase;
}
.tamanho_imagem{
    width: 80px;
    height: 100px;
}

.tamanho_imagem{
    width: 250px;
    height: 200px;
}
